mixin sHowLearn(data)
	// start sHowLearn
	+b.SECTION.sHowLearn.section#sHowLearn&attributes(attributes)
		.container
			+b.section-title
				h2 Программа 
					span обучения
				p Получив доступ к&nbsp;лицензии Superbot, Вам нужно научиться не&nbsp;только работать с&nbsp;программным комплексом.
				p Еще важнее&nbsp;&mdash; научиться управлять торговыми роботами, чтобы минимизировать возможные просадки и&nbsp;получать стабильную прибыль.
				p Для этого Владимир Чамин совместно с&nbsp;Издательством Инфо-ДВД разработали программу обучения, к&nbsp;которой&nbsp;Вы получите доступ вместе с&nbsp;лицензией на&nbsp;Superbot
			+ddGroup
				+ddGroupItem(`<span>Ступень 1</span>. Основная программа обучения`,'')
					+img('img/svg/sWhatThink-bg-1.svg').img-1
					+img('img/svg/sWhatThink-bg-1.svg').img-2
					+e.desc
						p Получив доступ к&nbsp;лицензии Superbot, Вам нужно научиться не&nbsp;только работать с&nbsp;программным комплексом.
						p Еще важнее&nbsp;&mdash; научиться управлять торговыми роботами, чтобы минимизировать возможные просадки и&nbsp;получать стабильную прибыль.
						p Для этого Владимир Чамин совместно с&nbsp;Издательством Инфо-ДВД разработали программу обучения, к&nbsp;которой&nbsp;Вы получите доступ вместе с&nbsp;лицензией на&nbsp;Superbot

					//- +e.block--1
					//- 	.row
					//- 		.col
					//- 		.col-lg-auto.text-center
					//- 			+img("img/block-1.png").res-i
					//- .h3.fw-800 Программа 1 ступени
					+e.table 
						mixin tr(t)
							+e.tr
								+e.tr-title!= t
								block
						+tr(`Постановка торговых целей.`)
							+e.wrap
								h6 Что узнаете:
								ul
									li Как грамотно поставить торговую цель криптотрейдеру?
									li План развития криптотрейдера с&nbsp;нуля до&nbsp;больших денег.
									li Зачем нужна финансовая модель алгоритмическому трейдеру?
							+e.wrap
								h6 Ваш результат после прохождения модуля:
								ul
									li Поставите торговую цель.
									li Выберите финансовую модель, чтобы регулярно выводить прибыль с&nbsp;торгового счета

						+tr(`Подготовка к созданию криптороботов`)
							+e.wrap
								h6 Что узнаете:
								ul
									li Как грамотно поставить торговую цель криптотрейдеру?
									li План развития криптотрейдера с&nbsp;нуля до&nbsp;больших денег.
									li Зачем нужна финансовая модель алгоритмическому трейдеру?
							+e.wrap
								h6 Ваш результат после прохождения модуля:
								ul
									li Поставите торговую цель.
									li Выберите финансовую модель, чтобы регулярно выводить прибыль с&nbsp;торгового счета
						+tr(`Генерация алгоритмических криптостратегий`)
							+e.wrap
								h6 Что узнаете:
								ul
									li Как грамотно поставить торговую цель криптотрейдеру?
									li План развития криптотрейдера с&nbsp;нуля до&nbsp;больших денег.
									li Зачем нужна финансовая модель алгоритмическому трейдеру?
							+e.wrap
								h6 Ваш результат после прохождения модуля:
								ul
									li Поставите торговую цель.
									li Выберите финансовую модель, чтобы регулярно выводить прибыль с&nbsp;торгового счета
						+tr(`Тестирование алгоритмических криптостратегий`)
							+e.wrap
								h6 Что узнаете:
								ul
									li Как грамотно поставить торговую цель криптотрейдеру?
									li План развития криптотрейдера с&nbsp;нуля до&nbsp;больших денег.
									li Зачем нужна финансовая модель алгоритмическому трейдеру?
							+e.wrap
								h6 Ваш результат после прохождения модуля:
								ul
									li Поставите торговую цель.
									li Выберите финансовую модель, чтобы регулярно выводить прибыль с&nbsp;торгового счета
						+tr(`Управление капиталом`)
							+e.wrap
								h6 Что узнаете:
								ul
									li Как грамотно поставить торговую цель криптотрейдеру?
									li План развития криптотрейдера с&nbsp;нуля до&nbsp;больших денег.
									li Зачем нужна финансовая модель алгоритмическому трейдеру?
							+e.wrap
								h6 Ваш результат после прохождения модуля:
								ul
									li Поставите торговую цель.
									li Выберите финансовую модель, чтобы регулярно выводить прибыль с&nbsp;торгового счета
						+tr(`Управление алгоритмической криптостратегией`)
							+e.wrap
								h6 Что узнаете:
								ul
									li Как грамотно поставить торговую цель криптотрейдеру?
									li План развития криптотрейдера с&nbsp;нуля до&nbsp;больших денег.
									li Зачем нужна финансовая модель алгоритмическому трейдеру?
							+e.wrap
								h6 Ваш результат после прохождения модуля:
								ul
									li Поставите торговую цель.
									li Выберите финансовую модель, чтобы регулярно выводить прибыль с&nbsp;торгового счета

				+ddGroupItem(`<span>Ступень 2.</span> Групповой онлайн-коучинг`,'')
					+e.desc
						p Вашим результатом после прохождения первой ступени обучения будет готовая алгоритмическая стратегия&nbsp;&mdash; протестированная на&nbsp;исторических данных и&nbsp;на&nbsp;стресс-тесте, чтобы исключить вероятность получить нерабочую стратегию для реального рынка.
						p По&nbsp;сути, эту стратегию уже можно будет запускать в&nbsp;торги на&nbsp;реальном счете.
						p Но&nbsp;если&nbsp;Вы хотите получить обратную связь по&nbsp;своей стратегии от&nbsp;профессионального алгоритмического трейдера и&nbsp;убедиться в&nbsp;том, что&nbsp;Вы все сделали правильно, Вам поможет вторая ступень обучения.
					//- +e.block--2
					//- 	.row
					//- 		.col
					//- 			p Получив доступ к&nbsp;лицензии Superbot, Вам нужно научиться не&nbsp;только работать с&nbsp;программным комплексом.
					//- 			p Еще важнее&nbsp;&mdash; научиться управлять торговыми роботами, чтобы минимизировать возможные просадки и&nbsp;получать стабильную прибыль.
					//- 			p Для этого Владимир Чамин совместно с&nbsp;Издательством Инфо-ДВД разработали программу обучения, к&nbsp;которой&nbsp;Вы получите доступ вместе с&nbsp;лицензией на&nbsp;Superbot
					//- 		.col-lg-auto.text-center
					//- 			+img("img/block-2.png").res-i
					+e.list-wrap
						+e.img-wrap
							+pic('sHowLearn-bg-1.png', '')
						h4 Вас ждет шесть онлайн-занятий на которых Владимир Чамин:
						ul
							li 
								+img('img/svg/list-icon-3.svg')
								|Даст Вам обратную связь по&nbsp;созданным Вами стратегиям, укажет на&nbsp;возможные ошибки и&nbsp;поможет докрутить Вашего робота перед стартом реальной торговли.
							li 
								+img('img/svg/list-icon-3.svg')
								| Проведет мастер-класс по&nbsp;работе с&nbsp;портфелем роботов и&nbsp;поделится нюансами, как управлять портфелем для стабильного роста капитала.
							li 
								+img('img/svg/list-icon-3.svg')
								| Поделится неочевидными возможностями и&nbsp;нюансами работы c&nbsp;Superbot.
							li 
								+img('img/svg/list-icon-3.svg')
								| Разберет все возникшие у&nbsp;Вас вопросы.
							li 
								+img('img/svg/list-icon-3.svg')
								| Поделится своим опытом, как стать профессиональным управляющим и&nbsp;масштабировать Ваши доходы за&nbsp;счет привлечения инвесторов
			+e.footer.text-center
				h4 Благодаря онлайн-коучингу от&nbsp;Владимира, Вы&nbsp;не&nbsp;останетесь один-на-один с&nbsp;рынком.
				h3 У&nbsp;Вас будет 3&nbsp;месяца полноценной поддержки.
				h4 Это даст Вам возможность совершить уверенный старт в&nbsp;алгоритмическом трейдинге
			+e.btn.btn.btn-primary(href="#sAccess") Жмите здесь, чтобы получить доступ к материалам прямо сейчас
	// end sHowLearn