mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title
				h3 В&nbsp;чем&nbsp;же отличия? Как зарабатывать деньги на&nbsp;полном автомате, не&nbsp;боясь при этом слить свой депозит?
				h5 Если кратко:
			+e.row.row
				+e.col.col-lg-6 
					+e.title.h3 Обычный торговый робот
					+e.UL.bad-list(style='--listIcon: url("../img/svg/list-icon-1.svg");')
						li: p Запрограммирован на&nbsp;конкретную торговую стратегию, внести изменения в&nbsp;которую может только создатель робота
						li: p Использует в&nbsp;работе только одну стратегию, которая перестанет приносить деньги при изменении<br>рыночной фазы
						li: p Оптимизирован под исторические рыночные данные и&nbsp;не&nbsp;всегда приносит прибыль в&nbsp;реальных торгах.
						li: p Работает сам по&nbsp;себе, по&nbsp;принципу &laquo;черного ящика&raquo;. Трейдер не&nbsp;всегда понимает принципы и&nbsp;алгоритмы сделок робота
				+e.col.col-lg-6
					+e.title.h3.text-primary Superbot
					ul(style='--listIcon: url("../img/svg/list-icon-2.svg");')
						li: p Запрограммирован на&nbsp;конкретную торговую стратегию, внести изменения в&nbsp;которую может только создатель робота
						li: p Позволяет создавать портфель алгоритмических стратегий и&nbsp;гибко ими управлять, вовремя отключая убыточных роботов и&nbsp;подключая вместо них новых, работающих на&nbsp;изменившейся фазе рынка
						li: p Позволяет проводить стресс-тестирование стратегии и&nbsp;выявлять, как поведет себя робот в&nbsp;будущем, в&nbsp;ситуации &laquo;идеального рыночного шторма&raquo;.
						li: p Создает понятные трейдеру алгоритмические стратегии с&nbsp;подробным их&nbsp;описанием и&nbsp;дает возможность гибкого управления стратегиями в&nbsp;ручном режиме
			h3 Хотите подробностей? 
				span Читайте дальше очень внимательно.
	// end sAdvantages 