// start .sAdvantages
.sAdvantages {
	--sPT: #{rem(24)};
	--sPB: #{rem(24)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(48)};
		--sPB: #{rem(48)};
	}
	--sPT: #{rem(57.5)};
	--sPB: #{rem(91)};
	z-index: 2;
	position: relative;
	h3 {
		font-weight: 800;
		line-height: 1.40em;
		margin-bottom: 0;
		span {
			color: $primary;
		}
	}
	.section-title {
		--sTPB: #{rem(40)};
		@include media-breakpoint-up(md) {
			--sTPB: #{rem(60)};
		}

		max-width: rem(1008);
		h3 {
			margin-bottom: rem(16);
		}
		h5 {
			color: $primary;
			line-height: 1.6em;
			letter-spacing: 0.01em;
			margin-bottom: 0;
		}
	}
	&__row {
		--bs-gutter-x: #{rem(40)};
		--bs-gutter-y: #{rem(40)};

		margin-bottom: rem(96);
	}
	&__col {
		display: flex;
		flex-direction: column;
	}
	ul {
		--bs-gutter-y: #{rem(30)};
		@include media-breakpoint-up(md) {
			--bs-gutter-y: #{rem(60)};
		}

		list-style-type: none;
		margin-bottom: 0;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		margin-top: calc(var(--bs-gutter-y) * -1);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
		li {
			--iconSize: #{rem(48)};

			position: relative;
			flex-grow: 1;
			@include media-breakpoint-up(md) {
				padding-left: calc(var(--iconSize) + #{rem(32)});
			}
			&::before {
				content: '';
				display: block;
				width: var(--iconSize);
				height: var(--iconSize);
				background-image: var(--listIcon);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				margin-bottom: rem(16);
				@include media-breakpoint-up(md) {
					position: absolute;
					top: 0;
					left: 0;
					margin-bottom: 0;
				}
			}
			p {
				line-height: 1.70em;
				margin-bottom: 0;
				font-size: rem(18);
				@include media-breakpoint-up(md) {
					font-size: rem(20);
				}
			}
		}
	}
	&__bad-list {
		li {
			max-width: rem(492);
			p {
				opacity: .5;
			}
		}
	}
	&__title {
		margin-bottom: 0;
		padding-bottom: rem(25);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(50);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAdvantages
// .points {
// 	position: relative;
// 	display: inline-block;
// 	margin-left: 10px;
// 	margin-right: 20px;
// 	width: 5px;
// 	height: 5px;
// 	border-radius: 50%;
// 	background-color: $blue;
// 	// bottom:10px;
// 	line-height: 1;
// 	&::after,
// 	&::before {
// 		content: '';
// 		position: absolute;
// 		display: inline-block;
// 		width: 5px;
// 		height: 5px;
// 		top: 0;
// 		border-radius: 50%;
// 		background-color: $blue;
// 	}
// 	&::before {
// 		left: -10px;
// 	}
// 	&::after {
// 		right: -10px;
// 	}
// }