mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		//- +img('head-bg.jpg','bg').picture-bg
		.container
			+e.inner
				h1 #[span Профессиональные торговые роботы ] теперь доступны каждому трейдеру
				+e.body
					p #[span Superbot]&nbsp;&mdash; мощнейший инструмент для заработка на&nbsp;криптовалютах в&nbsp;автоматическом режиме
					//- +e.caption.d-none.d-lg-block Павел Крез <span>Эксперт в&nbsp;трейдинге</span>
					ul
						li Создавайте торговых роботов в&nbsp;несколько кликов мышки
						li Получайте доход на&nbsp;автомате, не&nbsp;боясь слива депозита
						li Управляйте портфелем роботов для диверсификации рисков
					+e.img-wrap
						+pic("head-img.png",'', '576px', '')
						//- +img("img/head-img.png")
					a.btn.btn-primary(href="#sAccess").scroll-link Получить Superbot прямо сейчас
			//- +e.footer
			//- 	p В&nbsp;период обвала российского фондового рынка весной 2022 крупнейшие инвестиционные компании США JPMorgan и&nbsp;Goldman Sachs принялись скупать резко подешевевшие российские активы
			
						
	// end headerBlock