mixin sWhatThink(data)
	// start sWhatThink
	+b.SECTION.sWhatThink.section#sWhatThink&attributes(attributes).bg-wrap
		+img('img/svg/sWhatThink-bg-1.svg', 'bg').picture-bg
		+e.container.container
			+img('img/coin-1.png').coin-1
			+img('img/coin-2.png').coin-2
			+e.wrap.bg-wrap
				+b.section-title
					h2 #[span Автоматический ] источник дохода, который не&nbsp;сольет Ваши деньги. Теперь это реальность!
					p Это знает каждый: все торговые роботы рано или поздно перестают зарабатывать и&nbsp;начинают сливать деньги.
					p Но. При этом, банки и&nbsp;крупные инвестиционные фонды постоянно используют торговых роботов в&nbsp;своей работе и&nbsp;стабильно зарабатывают с&nbsp;их&nbsp;помощью большие деньги.
				+e.label Пожалуй, самая заветная мечта трейдера&nbsp;&mdash; получить доступ к&nbsp;тому самому банковскому роботу, который будет стабильно приносить деньги в&nbsp;автоматическом режиме без риска слива депозита.
				+img('img/sWhatThink-bg-1.png').d-none.d-lg-block
			+e.banner
				+img('img/banner.png').d-none.d-lg-block
				h3 Банковский алгоритмический трейдинг теперь доступен каждому!
				p &laquo;Тот самый робот&raquo; теперь доступен и&nbsp;Вам
			//- .row
			//- 	+e.col.col-lg-3.col-sm-6
			//- 		+img("img/svg/mark.svg")
			//- 		p  Зарабатывать в&nbsp;любой фазе рынка и&nbsp;на&nbsp;любом инструменте
			//- 	+e.col.col-lg-3.col-sm-6
			//- 		+img("img/svg/mark.svg")
			//- 		p  Предвидеть рыночные движения и&nbsp;входить в&nbsp;сделку в&nbsp;нужный момент
			//- 	+e.col.col-lg-3.col-sm-6
			//- 		+img("img/svg/mark.svg")
			//- 		p  Заходить только в&nbsp;самые сильные движения с&nbsp;максимальной вероятностью прибыли
			//- 	+e.col.col-lg-3.col-sm-6
			//- 		+img("img/svg/mark.svg")
			//- 		p  В&nbsp;любой момент понимать действия других трейдеров и&nbsp;всегда иметь перед ними преимущество
			//- .row
			//- 	.h4.col-xxl-5.col-sm Вы получите больше, чем миллион. Это уверенность в рынке и в завтрашнем дне
			//- 	.col-auto.mt-4.mb-3.d-none.d-sm-block
			//- 		img(src="img/svg/arrow-lg.svg", alt="")
			//- 	.col.h3.strong Как научиться понимать рыночную механику?
			//- .text-center
			//- 	+pic("text-lg.png",'','576px').res-i
	// end sWhatThink