mixin sPracticum(data)
	// start sPracticum
	+b.SECTION.sPracticum.section#sPracticum&attributes(attributes)
		+e.container.container
			+e.img-wrap.d-none.d-lg-block
				+pic('sPracticum-bg-1.png','','576px', '')
			+b.section-title
				h4 Издательство Инфо-ДВД<br>и&nbsp;Владимир Чамин представляют
				h2 Superbot
				p Мощнейший инструмент для создания алгоритмических стратегий и&nbsp;портфеля торговых роботов без программирования
			.row
				mixin item(i, p)
					+e.col.col-lg-4.col-sm-6.text-center
						+img(`img/svg/sPracticum-img-${i}.svg`)
						!= p
				+item(1, `Не&nbsp;надо учиться программированию чтобы заниматься алгоритмическим крипто-трейдингом`)
				+item(2, `Создавайте торговых роботов внутри самой популярной бесплатной торговой платформы Metatrader&nbsp;5`)
				+item(3, `Станьте независимым автором стратегий и&nbsp;забудьте о&nbsp;покупках готовых торговых роботов в&nbsp;Интернет`)
				+item(4, `Запускайте в&nbsp;торговлю максимально надежных и&nbsp;стабильных торговых роботов, используя профессиональные методы стресс-тестирования`)
				+item(5, `Создавайте уникальные алгоритмические стратегии, которых больше ни&nbsp;у&nbsp;кого нет, и&nbsp;забирайте больше прибыли, быстрее и&nbsp;без конкуренции`)
				+item(6, `Уменьшайте риски, используя диверсифицированный портфель торговых роботов`)
				+item(7, `Контролируйте торговлю каждого Вашего робота, вовремя его переоптимизируя или отключая от&nbsp;торговли для максимизации прибыли`)
				+item(8, `Настраивайте роботов на&nbsp;нужный<br>Вам уровень доходности и&nbsp;получайте<br>ее&nbsp;на&nbsp;реальном рынке`)
				+item(9, `Зарабатывайте деньги<br>на&nbsp;криптовалютах в&nbsp;полностью автоматическом режиме`)
			+e.footer.text-center
				h4 Superbot&nbsp;&mdash; это гибкость, простота, прозрачность и&nbsp;управляемость
				p Прямо сегодня создайте свою собственную армию роботов, которые будут работать вместо Вас и&nbsp;каждый день приносить Вам деньги
				a.btn.btn-primary(href="#sAccess") Получить Superbot прямо сейчас
	// end sPracticum