mixin sCharacteristics(data)
	// start sCharacteristics
	+b.SECTION.sCharacteristics.section#sCharacteristics&attributes(attributes)
		.container
			+b.section-title
				h2 Тактико-технические 
					span характеристики
			+e.row.row
				mixin item(headline, title, bgColor, customClass='col-12 col-sm-6 col-lg-4')
					div(class=customClass)
						+e.item(style=`--bgColor: ${bgColor}`)
							+e.headline!= headline
							h6!= title
				+item('Минимальный депозит', 'от&nbsp;10$ для создания портфеля из&nbsp;2-3 роботов', '#1B557A')
				+item('Биржи', 'Фьючерсная секция криптовалютных бирж Binance и&nbsp;Bybit. Фьючерсы позволяют зарабатывать и&nbsp;на&nbsp;росте, и&nbsp;на&nbsp;падении', '#10222E')
				+item('Риски', 'Возможность гибкого управления рисками и&nbsp;настройки максимальной просадки от&nbsp;5% до&nbsp;30% в&nbsp;зависимости от&nbsp;целевой доходности', '#0D335F')
				+item('Целевая доходность', 'Настраивается самостоятельно при создании алгоритмической стратегии. Возможность настройки безопасной целевой доходности от&nbsp;30% до&nbsp;100% годовых', '#052F4A')
				+item('Можно ли слить депозит?', 'В&nbsp;Superbot встроено 3&nbsp;типа автоматической защиты от&nbsp;глубоких просадок. Вероятность получить просадку больше запланированной менее&nbsp;1%', '#1A3D65')
				+item('Стратегии', 'Возможность создания трендовых торговых роботов для заработка на&nbsp;сильных рыночных движениях.<br>Возможность создания арбитражных торговых роботов для заработка в&nbsp;боковике', '#1B2328')
				+item('Управление портфелем роботов', 'Через бесплатного Телеграм-бота, который автоматически присылает уведомления о&nbsp;состоянии каждого робота в&nbsp;портфеле.<br>Возможность видеть финансовый результат по&nbsp;каждому роботу, чтобы вовремя заменить убыточного на&nbsp;прибыльного или переоптимизировать стратегию робота.<br><br>По&nbsp;каждому роботу ведется полная статистика с&nbsp;выводом ее&nbsp;на&nbsp;график', '#1D2631', 'col-12')
	// end sCharacteristics