mixin sGetTool(data)
	// start sGetTool
	+b.SECTION.sGetTool.section#sGetTool&attributes(attributes)
		.container
			+b.section-title
				h2 Получите #[span мощнейший инструмент ] для создания уникальных торговых роботов
				h4 Без преувеличения. Superbot&nbsp;&mdash; один из&nbsp;самых мощных инструментов на&nbsp;рынке&nbsp;РФ, позволяющий гибко создавать лучшие алгоритмические стратегии.
			h5 Вот неполный список функций, которые будут доступны Вам в&nbsp;Суперботе:
			+e.list-wrap
				+pic('sGetTool-bg-1.png')
				ul
					li 27&nbsp;видов каналов для открытия позиции в&nbsp;стратегии.
					li 27&nbsp;фильтров для использования в&nbsp;стратегии&nbsp;&mdash; объем, ценовые паттерны и&nbsp;технические индикаторы.
					li Возможность комбинации друг с&nbsp;другом наборов фильтров.
					li Профессиональный метод стресс-тестирования Walk forward Resampling, позволяющий проводить 10&nbsp;000 стресс-тестов за&nbsp;2&nbsp;секунды и&nbsp;определять устойчивость стратегии в&nbsp;будущем.
					li Фильтр дней недели, возможность торговать или отключать торговлю в&nbsp;определенные дни.
					li 4&nbsp;вида стоплосса: фиксированный, скользящий, в&nbsp;пунктах и&nbsp;с&nbsp;привязкой к&nbsp;волатильности
					li 4&nbsp;вида сигнала: trend, reverse, back reverse и&nbsp;pullback для создания трендовых и&nbsp;арбитражных стратегий.
					li 6&nbsp;методов управления капиталом: фиксированный объем, фиксированный риск, методы на&nbsp;основе фильтров, компрессия просадки и&nbsp;безопасный мартингейл.
					li Функция создания стратегий, которые только покупают, или только продают, или и&nbsp;продают, и&nbsp;покупают.
					li 3&nbsp;вида ордеров для торговли: market, stop и&nbsp;limit.
					li Возможность создавать внутридневные (без переноса через ночь) и&nbsp;внутринедельные (без переноса через пятницу) стратегии для контроля риска.
					li 3&nbsp;способа закрытия сделки: take profit&nbsp;/ stop loss, выход через&nbsp;N баров, по&nbsp;сигналу индикатора.
					li Встроенный механизм настройки робота на&nbsp;целевую доходность.
					li Встроенный механизм контроля просадки робота.&nbsp;3&nbsp;типа автоматической защиты от&nbsp;просадки.
					li Гибкая настройка каждого параметра паттернов и&nbsp;индикаторов.
					li Методика, ускоряющая процесс создания роботов: генерация 1000-2000 роботов за&nbsp;2-3&nbsp;минуты.
					li Экспорт стратегий в&nbsp;виде кода mq5 для дальнейшей доработки или продажи.
					li Генерация подробного описания стратегий на&nbsp;понятном языке.
					li Возможность расширения функционала с&nbsp;помощью подключения собственных индикаторов.
					li Генерация полной статистики создаваемой стратегии для Вашего анализа
			+e.wrap
				p А&nbsp;самое главное, в&nbsp;Superbot Вы&nbsp;можете создавать миллионы комбинаций из&nbsp;доступных функций и&nbsp;их&nbsp;параметров, а&nbsp;затем генерировать из&nbsp;них лучшие стратегии и&nbsp;оптимизировать их&nbsp;под инструмент, на&nbsp;котором&nbsp;Вы будете торговать
				h5 И&nbsp;все это без программирования и&nbsp;танцев с&nbsp;бубнами
				+pic('sGetTool-bg-2.png')
			+e.footer.text-center
				h4 Всего несколько кликов мышки, и&nbsp;новый уникальный робот готов войти в&nbsp;Вашу армию и&nbsp;отправиться на&nbsp;рынок добывать для Вас деньги
				a.btn.btn-primary(href="#sAccess") Получить мощнейший инструмент для создания уникальных торговых роботов прямо сейчас
	// end sGetTool