mixin sAction(data)
	// start sAction
	+b.SECTION.sAction.section#sAction.bg-wrap&attributes(attributes)
		+pic('sAction-bg-1.jpg', 'bg', '0').picture-bg
		.container
			+e.centred-block 
				.section-title
					h2 #[span Вау! ] Вы дочитали до конца?
					h4 А&nbsp;Вы&nbsp;знаете, что за&nbsp;время, потраченное Вами на&nbsp;чтение этого сайта, Вы&nbsp;могли сгенерировать, как минимум, одного робота в&nbsp;Superbot и&nbsp;провести по&nbsp;нему все виды тестирования?
					h4 Сейчас этот робот был&nbsp;бы уже готов начать зарабатывать для Вас деньги.
					h4 А&nbsp;пока&nbsp;Вы читаете эту строчку, сервер Издательства Инфо-ДВД уже открыл&nbsp;бы Вам моментальный доступ к&nbsp;инструкции по&nbsp;получению лицензии Superbot и&nbsp;обучающим материалам.
				h3 Время = деньги. Это Вы&nbsp;тоже знаете.
				p Можно сколь угодно долго раздумывать и&nbsp;сомневаться.
				P Невидимые часы продолжат отсчитывать минуты Вашей жизни.
				P Криптовалюты продолжат ходить вверх или вниз.
				P Те, кто уже получил доступ к&nbsp;Superbot, продолжат зарабатывать деньги на&nbsp;движениях криптовалют.
				P Вот, у&nbsp;кого-то закрылась очередная прибыльная сделка...
				P А&nbsp;Вы&nbsp;все еще решаетесь нажать на&nbsp;кнопку и&nbsp;теряете драгоценное время...
			+e.footer.text-center
				h4 Хватит медлить, жмите на кнопку и заберите Вашу лицензию на Superbot прямо сейчас!
				a.btn.btn-primary(href="#sAccess") Заберать лицензию на Superbot!
	// end sAction