// start .sAction
.sAction {
	--sPT: #{rem(50)};
	--sPB: #{rem(50)};
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(104)};
		--sPB: #{rem(118)};
	}
	.section-title{
		margin-bottom: rem(82);
		h2 {
			font-weight: 800;
			line-height: 1.22em;
			margin-bottom: rem(32);
			span {
				color: $primary;
			}
		}
		h4 {
			font-weight: 600;
			margin-bottom: rem(12);
			line-height: 1.5;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		p{
			font-size: rem(24);
			font-weight: 600;
		}
	}
	h3 {
		text-align: center;
		font-weight: 800;
		margin-bottom: rem(56);
		line-height: 1.4em;
	}
	p {
		margin-bottom: rem(16);
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__centred-block {
		max-width: rem(842);
		margin-left: auto;
		margin-right: auto;
	}
	&__footer{
		margin-top: rem(102);
		h4 {
			position: relative;
			padding-top: rem(25);
			padding-bottom: rem(32);
			margin-bottom: rem(47);
			font-weight: 600;
			&::before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: rem(344);
				height: 1px;
				background-color: $primary;
			}
			&::after {
				content: '';
				position: absolute;
				display: block;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: rem(170);
				height: 1px;
				background-color: $primary;
			}
		}
		a {
			--bs-btn-padding-x: #{rem(24)};
			--bs-btn-padding-y: #{rem(12)};
			--bs-btn-font-size: #{rem(14)};
			@include media-breakpoint-up(sm) {
				--bs-btn-font-size: #{rem(20)};
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAction