// start .sForYou
.sForYou {
	--sPT: #{rem(100)};
	--sPB: #{rem(28)};
	--sTPB: #{rem(56)};
	background: #006DB1;
	border-radius: 8px 8px 0 0;
	.container{
		max-width: rem(1113);
	}
	.section-title {
		h2 {
			margin-bottom: rem(32);
			span {
				display: block;
				color: $primary;
			}
		}
		h4 {
			max-width: rem(824);
			color: $gray-100;
			font-weight: 600;
			line-height: 1.5em;
			margin-bottom: rem(32);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	ol{
		counter-reset: num;
		border-top: 1px solid $primary;
		padding-left: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(50px);
	li{
		position: relative; 
		padding-left: rem(37 + 44);
		border-bottom: 1px solid $primary;
		padding-top: rem(60);
		padding-bottom: rem(60);
		&::before {
			content: counter(num);
			counter-increment: num;
			color: $success;
			@include a-cent1(y);
			left: 0;
			color: $success; 
			line-height: 1;
			// font-weight: bold;
			@include rfs(78px);
		}
		strong{
			@extend h4;
			line-height: 150%;
			font-weight: 600;
			margin-bottom: rem(8);
		}
		p{
			font-size: rem(20);
			color: $secondary;
		}
	}
		}
		li{
			list-style: none;
		}
		&__footer{
			// margin-left: auto;
			// margin-right: auto;
			max-width: 1058px;
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sForYou