mixin sForYou(data)
	// start sForYou
	+b.SECTION.sForYou.section#sForYou&attributes(attributes)
		.container
			+b.section-title
				//- p Найдете себя?
				h2 #[span PRO деньги] Неочевидное об очевидном
				h4 Скорее всего, Вы&nbsp;уже представляете, для чего Вам нужен Superbot и&nbsp;что он&nbsp;может дать конкретно Вам.
				h4 Тем не&nbsp;менее, давайте еще раз обозначим, как Superbot может генерировать для Вас деньги.
				
			ol
				li Создавайте портфель из&nbsp;уникальных торговых роботов и&nbsp;получайте доход<br>в&nbsp;автоматическом режиме
				li Выгружайте созданные стратегии в&nbsp;mq5 и&nbsp;продавайте готовых роботов<br>или сдавайте их&nbsp;в&nbsp;аренду
				li Создавайте алгоритмические стратегии и&nbsp;торговых роботов на&nbsp;заказ
				li Если Вы&nbsp;предпочитаете ручную торговлю, используйте Superbot, как генератор<br>сигналов, и&nbsp;фильтруйте их&nbsp;вручную перед входом в&nbsp;сделку, чтобы повысить<br>прибыльность
				li Генерируйте сигналы в&nbsp;Superbot для Телеграм-канала
				li Продавайте сигналы своих стратегий через mql5.com<br>или сервисы копирования сделок у&nbsp;брокеров
				li Управляйте капиталом инвесторов с&nbsp;помощью портфеля роботов
			+e.footer
				.h3 Готовы начать зарабатывать с&nbsp;помощью одной из&nbsp;самых мощных платформ для алгоритмического трейдинга?
	// end sForYou