mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		+e.container.container
			+pic('sAuthor-bg-1.png', '', '', 'true').img
			//- img(src='img/@2x/sAuthor-bg-1.png' alt='').img
			+b.section-title
				h2 Автор платформы<br>алгоритмического трейдинга Superbot
				h4 Знакомьтесь:
			+e.row.row
				.col-lg-6
					+e.title.h1 Владимир Чамин
					ul
						li
							+img('img/svg/list-icon-3.svg')
							| Алготрейдер и&nbsp;управляющий, в&nbsp;трейдинге с&nbsp;2003&nbsp;года.
						li
							+img('img/svg/list-icon-3.svg')
							| Автор книги &laquo;Superbot: Как частному алготрейдеру гарантировано забрать свою прибыль с&nbsp;рынка?&raquo; (готовится к&nbsp;изданию)
						li
							+img('img/svg/list-icon-3.svg')
							| В&nbsp;кризисном 2014 году установил рекорд доходности в&nbsp;автоматическом трейдинге: +253% прибыли к&nbsp;депозиту.
						li
							+img('img/svg/list-icon-3.svg')
							| Во&nbsp;время &laquo;ковидного кризиса&raquo; в&nbsp;2020 году заработал инвесторам&nbsp;+54% при максимальной просадке 13%.
						li
							+img('img/svg/list-icon-3.svg')
							| 11&nbsp;лет руководил офисом Альпари в&nbsp;Екатеринбурге, знает индустрию трейдинга изнутри.
						li
							+img('img/svg/list-icon-3.svg')
							| Организатор онлайн-конференции &laquo;Взлом алготрейдинга&raquo; с&nbsp;участием профессиональных алготрейдеров.
						li
							+img('img/svg/list-icon-3.svg')
							| Сертифицированный финансовый советник Института финансового планирования (сегодня АНО &laquo;Национальный центр Финансовой грамотности&raquo;).
						li
							+img('img/svg/list-icon-3.svg')
							| Учился у&nbsp;лучших мировых алготрейдеров: Томас Ниснедал (Чехия), Кевин Дейви (США), Эрнест Чан (США), Андреас Е. Кленоу (Швейцария), Том Бассо (США).
						li
							+img('img/svg/list-icon-3.svg')
							| Автор концепции быстрого старта в&nbsp;алготрейдинге &laquo;Триада&raquo;, с&nbsp;помощью которой можно безопасно делать 40-80% годовых, имея 3-х простых роботов.
						li
							+img('img/svg/list-icon-3.svg')
							| Инвестирует собственный капитал в&nbsp;лучших учеников
			+e.block
				+e.img-wrap
					+pic('sAuthor-bg-2.png')
				h4 Зная потребности алгоритмического трейдера,<br>Владимир создавал Superbot, как платформу, которая удовлетворит их&nbsp;все и&nbsp;даст возможность каждому трейдеру зарабатывать в&nbsp;автоматическом режиме, не&nbsp;создавая конкуренцию между собой
	// end sAuthor