mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые 
					span вопросы
			+ddGroup
				+ddGroupItem('Какой минимальный депозит?', activeClasses='')
					p Первые сделки&nbsp;Вы можете начать совершать уже во&nbsp;время практических онлайн-занятий. А&nbsp;если Ваш тариф участия включает доступ в&nbsp;Телеграм-чат команды, Вы&nbsp;сможете пользоваться подсказками от&nbsp;Яны Мусийко и&nbsp;других участников тренинга.
				+ddGroupItem('На&nbsp;каких площадках будет вестись торговля?', activeClasses='')
					p Первые сделки&nbsp;Вы можете начать совершать уже во&nbsp;время практических онлайн-занятий. А&nbsp;если Ваш тариф участия включает доступ в&nbsp;Телеграм-чат команды, Вы&nbsp;сможете пользоваться подсказками от&nbsp;Яны Мусийко и&nbsp;других участников тренинга.
				+ddGroupItem('Будет&nbsp;ли техническая помощь по&nbsp;установке Superbot, регистрации на&nbsp;биржах и&nbsp;т.д.?', activeClasses='')
					p Первые сделки&nbsp;Вы можете начать совершать уже во&nbsp;время практических онлайн-занятий. А&nbsp;если Ваш тариф участия включает доступ в&nbsp;Телеграм-чат команды, Вы&nbsp;сможете пользоваться подсказками от&nbsp;Яны Мусийко и&nbsp;других участников тренинга.
				+ddGroupItem('Когда я&nbsp;начну зарабатывать?', activeClasses='')
					p Первые сделки&nbsp;Вы можете начать совершать уже во&nbsp;время практических онлайн-занятий. А&nbsp;если Ваш тариф участия включает доступ в&nbsp;Телеграм-чат команды, Вы&nbsp;сможете пользоваться подсказками от&nbsp;Яны Мусийко и&nbsp;других участников тренинга.
				+ddGroupItem('Можно&nbsp;ли торговать в&nbsp;демо-режиме, без ввода денег на&nbsp;криптобиржу?', activeClasses='')
					p Первые сделки&nbsp;Вы можете начать совершать уже во&nbsp;время практических онлайн-занятий. А&nbsp;если Ваш тариф участия включает доступ в&nbsp;Телеграм-чат команды, Вы&nbsp;сможете пользоваться подсказками от&nbsp;Яны Мусийко и&nbsp;других участников тренинга.
				+ddGroupItem('Будут&nbsp;ли предоставляться записи онлайн-занятий, если я&nbsp;не&nbsp;смогу на&nbsp;них присутствовать?', activeClasses='')
					p Первые сделки&nbsp;Вы можете начать совершать уже во&nbsp;время практических онлайн-занятий. А&nbsp;если Ваш тариф участия включает доступ в&nbsp;Телеграм-чат команды, Вы&nbsp;сможете пользоваться подсказками от&nbsp;Яны Мусийко и&nbsp;других участников тренинга.
				+ddGroupItem('Куда я&nbsp;смогу задавать свои вопросы на&nbsp;обучении?', activeClasses='')
					p Первые сделки&nbsp;Вы можете начать совершать уже во&nbsp;время практических онлайн-занятий. А&nbsp;если Ваш тариф участия включает доступ в&nbsp;Телеграм-чат команды, Вы&nbsp;сможете пользоваться подсказками от&nbsp;Яны Мусийко и&nbsp;других участников тренинга.
			//- +b.info-dvd
			//- 	+e.title Максимальный уровень доверия от&nbsp;Инфо-ДВД
			//- 	+e.row.row
			//- 		.col-lg-4
			//- 			+img('img/dvdinfo-img.png')
			//- 		.col-lg-8
			//- 			p Издательство Инфо-ДВД в&nbsp;лице основателя Издательства Анатолия Белоусова, директора Издательства Никиты Королёва и&nbsp;топ-менеджера Издательства Дениса Абросимова присваивает онлайн-тренингу Павла Крёза &laquo;Трейдинг акциями рынка ОТС&raquo; &laquo;Зеленый уровень доверия&raquo;.
			//- 			p.strong &laquo;Зеленый уровень доверия&raquo;&nbsp;&mdash; максимальная надежность
			//- 	p.small Это значит, что тема данного курса не&nbsp;вызывает ни&nbsp;малейших этических нареканий со&nbsp;стороны редколлегии Инфо-ДВД, а&nbsp;вероятность положительного результата от&nbsp;обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) близка к&nbsp;100%.
	// end sFAQ