mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые 
					span вопросы
			+ddGroup
				+ddGroupItem('Какой минимальный депозит?', activeClasses='')
					p Для создания портфеля из&nbsp;2-3 торговых роботов достаточно от&nbsp;10$.
				+ddGroupItem('На&nbsp;каких площадках будет вестись торговля?', activeClasses='')
					p Торговля будет проходить на&nbsp;фьючерсной секции крупнейших криптовалютных бирж: Binance и&nbsp;Bybit.
					p Superbot устанавливается на&nbsp;демо-счет терминала Metatrader5, связь с&nbsp;биржей организуется через специальный мост.
				+ddGroupItem('Будет&nbsp;ли техническая помощь по&nbsp;установке Superbot, регистрации на&nbsp;биржах и&nbsp;т.д.?', activeClasses='')
					p Вам будут доступны подробные видеоуроки, с&nbsp;помощью которых&nbsp;Вы самостоятельно разберетесь в&nbsp;установке и&nbsp;работе с&nbsp;Superbot.
					p Также Вы&nbsp;можете заказать за&nbsp;небольшую оплату персональную помощь специалиста Службы заботы о&nbsp;клиентах Инфо-ДВД, который под ключ установит Вам терминал, поможет с&nbsp;регистрацией и&nbsp;верификацией на&nbsp;биржах.
				+ddGroupItem('Когда я&nbsp;начну зарабатывать?', activeClasses='')
					p Уроки по&nbsp;работе с&nbsp;Superbot будут доступны Вам сразу после оплаты. После того, как&nbsp;Вы разберетесь с&nbsp;программой и&nbsp;создадите своего первого торгового робота, Вы&nbsp;можете сразу запускать его в&nbsp;работу. Пройти обучение и&nbsp;создать робота&nbsp;Вы можете за&nbsp;один вечер&nbsp;&mdash; все зависит от&nbsp;скорости Вашего прохождения материала.
				+ddGroupItem('Можно&nbsp;ли торговать в&nbsp;демо-режиме, без ввода денег на&nbsp;криптобиржу?', activeClasses='')
					p Да, Вы&nbsp;можете практиковаться в&nbsp;демо-режиме. Заводить деньги на&nbsp;криптовалютную биржу или нет&nbsp;&mdash; решать Вам. Вы&nbsp;сможете это сделать тогда, когда убедитесь, что Ваш портфель роботов готов к&nbsp;реальной торговле.
				+ddGroupItem('Будут&nbsp;ли предоставляться записи онлайн-занятий, если я&nbsp;не&nbsp;смогу на&nbsp;них присутствовать?', activeClasses='')
					p Да, записи будут публиковаться на&nbsp;следующий день после занятия и&nbsp;будут доступны Вам бессрочно.
				+ddGroupItem('Куда я&nbsp;смогу задавать свои вопросы на&nbsp;обучении?', activeClasses='')
					p Вы сможете задавать вопросы:
					ul 
						li в&nbsp;группе Инфоклуба. На&nbsp;Ваши вопросы сможет ответить автор или куратор тренинга там&nbsp;же, на&nbsp;форуме внутри группы, либо мы&nbsp;разберем Ваши вопросы на&nbsp;ближайшем онлайн-занятии. Также в&nbsp;группе Вам смогут помочь и&nbsp;другие участники тренинга.
						li во&nbsp;время онлайн-занятий. Лучший способ в&nbsp;прямом эфире получить ответ от&nbsp;автора.
						li в&nbsp;службу поддержки Инфо-ДВД. Техническая помощь и&nbsp;служба заботы о&nbsp;клиентах всегда готовы помочь Вам.
			//- +b.info-dvd
			//- 	+e.title Максимальный уровень доверия от&nbsp;Инфо-ДВД
			//- 	+e.row.row
			//- 		.col-lg-4
			//- 			+img('img/dvdinfo-img.png')
			//- 		.col-lg-8
			//- 			p Издательство Инфо-ДВД в&nbsp;лице основателя Издательства Анатолия Белоусова, директора Издательства Никиты Королёва и&nbsp;топ-менеджера Издательства Дениса Абросимова присваивает онлайн-тренингу Павла Крёза &laquo;Трейдинг акциями рынка ОТС&raquo; &laquo;Зеленый уровень доверия&raquo;.
			//- 			p.strong &laquo;Зеленый уровень доверия&raquo;&nbsp;&mdash; максимальная надежность
			//- 	p.small Это значит, что тема данного курса не&nbsp;вызывает ни&nbsp;малейших этических нареканий со&nbsp;стороны редколлегии Инфо-ДВД, а&nbsp;вероятность положительного результата от&nbsp;обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) близка к&nbsp;100%.
	// end sFAQ