mixin sEarnMoney(data)
	// start sEarnMoney
	+b.SECTION.sEarnMoney.section#sEarnMoney&attributes(attributes)
		+e.container.container
			img(src='img/svg/sEarnMoney-bg-1.svg').bg-img.bg-img--1
			img(src='img/svg/sEarnMoney-bg-1.svg').bg-img.bg-img--2
			+b.section-title
				.row
					.col
						h2 Как #[span зарабатывать на&nbsp;автомате], не&nbsp;боясь слива депозита?
						h4 Забудьте про сливы в&nbsp;алгоритмическом трейдинге!<br>В&nbsp;Superbot заложена пятиступенчатая система защиты депозита
					.col-auto
						+e.text-wrap
							p &laquo;Так Вы&nbsp;оптимизируете торговых роботов на&nbsp;исторических данных?
							p На&nbsp;реальном рынке такие роботы однозначно будут сливать деньги!&raquo;
					//- .col-auto.d-none.d-xl-block
					//- 	+pic("sEarnMoney.png")
			mixin item(t)
				+e.item
					h3!= t
					block
			+e.row.row
				.col-12
					+item(`Портфельная<br>диверсификация`)
						p Выше мы&nbsp;уже писали про банковский алгоритмический трейдинг. Большие деньги защищают свои депозиты путем создания портфеля роботов, которые не&nbsp;коррелируют между собой.
						p При смене рыночной фазы некоторые роботы могут показывать убыток, который легко перекрываетс
						+e.text Создавайте портфель роботов с&nbsp;помощью Superbota и&nbsp;защитите Ваш депозит с&nbsp;помощью диверсификации торговых стратегий
				.col-12
					+item('Профессиональное<br>стресс-тестирование стратегий')
						p Опытные алго-трейдеры знают, что стратегии, оптимизированные под исторические данные, в&nbsp;будущем непременно будут сливать деньги.
						p В&nbsp;Superbot реализован механизм профессионального стресс-тестирования стратегии для выявления ее&nbsp;устойчивости к&nbsp;будущим изменениям рынка.
						p Говоря простым языком, механизм стресс-теста тысячи раз перемешивает рыночные данные в&nbsp;случайном порядке и&nbsp;проводит на&nbsp;полученных данных торговлю по&nbsp;тестируемой стратегии.
						p С&nbsp;помощью такого стресс-теста выявляется максимальная просадка стратегии в&nbsp;условиях &laquo;идеального рыночного шторма&raquo; и&nbsp;ее&nbsp;способность генерировать прибыль в&nbsp;неблагоприятные периоды будущего рынка.
						+e.text Таким образом, с&nbsp;помощью Superbot Вы&nbsp;сможете создавать лучшие алгоритмические стратегии, которые будут устойчивы даже в&nbsp;самые неблагоприятные периоды на&nbsp;рынке в&nbsp;будущем
				.col-12
					+item('Уникальность стратегий =<br>отсутствие конкуренции')
						p Еще одна причина, по&nbsp;которой роботы могут начать сливать деньги в&nbsp;будущем&nbsp;&mdash; популярность стратегии среди трейдеров.
						p Как только большое число трейдеров начинают торговать по&nbsp;одной и&nbsp;той&nbsp;же стратегии (или одним и&nbsp;тем&nbsp;же роботом), рыночная неэффективность ломается, и&nbsp;стратегия перестает приносить деньги, генерируя лишь одни убытк
						+e.text С&nbsp;помощью Superbot Вы&nbsp;сможете создавать в&nbsp;неограниченном числе свои собственные, уникальные стратегии, которые будут только у&nbsp;Вас. Superbot не&nbsp;боится конкуренции, он&nbsp;позволяет забирать больше прибыли и&nbsp;делать это быстрее
				.col-12
					+item('Управление портфелем<br>роботов')
						p Да, торговые роботы приносят деньги в&nbsp;автоматическом режиме.
						p Но&nbsp;ими тоже нужно управлять.
						p Superbot позволяет контролировать каждого робота в&nbsp;Вашем портфеле, чтобы вовремя его отключать и&nbsp;заменять другим, или переоптимизировать под изменившийся рынок.
						p Причем, на&nbsp;это не&nbsp;надо будет тратить много времени. Superbot пришлет Вам уведомления в&nbsp;Телеграм, если с&nbsp;каким-то роботом в&nbsp;портфеле что-то пойдет не&nbsp;так
						+e.text Гибко управляйте армией торговых роботов, не&nbsp;тратя на&nbsp;это времени
				.col-12
					+item('Управление портфелем<br>роботов')
						p Superbot позволяет гибко настраивать риск-менеджмент и&nbsp;мани-менеджмент в&nbsp;создаваемых Вами стратегиях. Вы&nbsp;сможете отслеживать всю статистику стратегий и&nbsp;оптимизировать их&nbsp;под нужную Вам максимальную просадку.
						p Помимо гибкого управления рисками, в&nbsp;Superbot также есть встроенная защита от&nbsp;слива. Он&nbsp;автоматически начнет сбрасывать объем позиции, если робот будет приближаться к&nbsp;указанной Вами допустимой просадке. Таким образом, ни&nbsp;один робот в&nbsp;Вашем портфеле не&nbsp;уйдет в&nbsp;просадку ниже той, которую&nbsp;Вы допускаете
						+e.text Ваш депозит всегда под надежной защитой от&nbsp;Superbot!
			+e.footer.text-center
				h4 Автоматический трейдинг без рисков слива депозита.<br>Раньше это была мечта. Теперь это реальность.
				a.btn.btn-primary(href="#sAccess") Хочу зарабатывать на&nbsp;автомате, не&nbsp;боясь слива депозита
	// end sEarnMoney