mixin sHowMuch(data)
	// start sHowMuch
	+b.SECTION.sHowMuch.section#sHowMuch&attributes(attributes)
		.container
			+b.section-title
				h2 Наглядно о 
					span результатах
				h4 Смотрите, какие торговые стратегии генерирует Superbot:
			+e.item-wrap
				+e.row.row
					.col-lg
						h4 С 1 000$ до 2 5338$
						p за 3 года на Биткоине
						a.btn.btn-outline-primary(href='#') Подробный отчет о сделках
					.col-lg-auto
						+pic('sHowMuch-img-1.png')
			+e.item-wrap
				+e.row.row
					.col-lg
						h4 С 1 000$ до 8 994$
						p за 3 года на Биткоине
						a.btn.btn-outline-primary(href='#') Подробный отчет о сделках
					.col-lg-auto
						+pic('sHowMuch-img-2.png')
			+e.item-wrap
				+e.row.row
					.col-lg
						h4 С 5 000$ до 16 952$
						p за 3 года на  Эфире
						a.btn.btn-outline-primary(href='#') Подробный отчет о сделках
					.col-lg-auto
						+pic('sHowMuch-img-3.png')
			+e.item-wrap
				+e.row.row
					.col-lg
						h4 С 1 000$ до 7 610$
						p за 3 года на  Эфире
						a.btn.btn-outline-primary(href='#') Подробный отчет о сделках
					.col-lg-auto
						+pic('sHowMuch-img-4.png')
			+e.item-wrap
				+e.row.row
					.col-lg
						h4 С 5 000$ до 21 252$
						p за 2 года на BNB/USDT
						a.btn.btn-outline-primary(href='#') Подробный отчет о сделках
					.col-lg-auto
						+pic('sHowMuch-img-5.png')
			+e.footer.text-center
				h4 Хотите создавать такие&nbsp;же стратегии в&nbsp;несколько кликов мышки, без программирования?
				a.btn.btn-primary(href="#sAccess") Получить мощнейший инструмент для создания уникальных торговых роботов прямо сейчас
	// end sHowMuch