// start .sHowMuch
.sHowMuch {
	--sPT: #{rem(51)};
	--sPB: #{rem(60)};
	--sTPB: #{rem(56)};
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(130)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(20)};

	}
	.section-title{
		h2 {
			margin-bottom: rem(32);
			line-height: 1.22em;
		}
		h4 {
			font-weight: 600;
			margin-bottom: 0;
			line-height: 1.5em;
		}
	}
	&__item-wrap {
		padding: rem(40) 0;
		border-top: 1px solid #25333D;
		&:last-child {
			border-bottom: 1px solid #25333D;
		}
	}
	&__row{
		align-items: center;
		max-width: rem(1071);
    margin-left: auto;
    margin-right: auto;
		h4 {
			color: #0090EC;
			font-weight: 600;
			margin-bottom: rem(8);
			line-height: 1.5em;
		}
		p {
			font-size: rem(15);
			font-weight: 500;
			margin-bottom: rem(32);
		}
		a {
			--bs-btn-color: #{$gray-100};
			--bs-btn-border-color: #0090EC;
			--bs-btn-bg: #{$gray-900};

			--bs-btn-padding-x: #{rem(20.5)};
    	--bs-btn-padding-y: #{rem(11)};
			--bs-btn-font-size: #{rem(15)};
			--bs-btn-font-weight: 700;
			--bs-btn-border-radius: 4px;
		}
		img {
			border-radius: 4px;
		}
	}
	&__footer{
		margin-top: rem(52);
		h4 {
			position: relative;
			padding-top: rem(25);
			padding-bottom: rem(62);
			margin-bottom: rem(53);
			font-weight: 600;
			&::before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: rem(344);
				height: 1px;
				background-color: $primary;
			}
			&::after {
				content: '';
				position: absolute;
				display: block;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: rem(170);
				height: 1px;
				background-color: $primary;
			}
		}
		a {
			--bs-btn-padding-x: #{rem(24)};
			--bs-btn-padding-y: #{rem(12)};
			--bs-btn-font-size: #{rem(14)};
			@include media-breakpoint-up(sm) {
				--bs-btn-font-size: #{rem(20)};
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sHowMuch